<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HacKIDemia {{getEnv 'region'}}</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	    <link rel='stylesheet' href='/styled/style.css' />
	    <link rel='stylesheet' href='/styled/{{this.section}}.css' />
	    <link href='//fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	  	<link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	    <link href='//fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
		{{{isAdminEditorCSS user}}}
	</head>
	<body>
		<div class="backgroundThatMoves"></div>
		{{{body}}}
		<div class="archyTop">
			<div class="ab-left">
			<span><a href="http://hackidemia.com">Visit HacKIDemia Global<a/></span>
			</div>
			<div class="ab-right">
			<span><a class="toWorkshops">workshops/events</a></span>
			<span><a class="toAbout">about</a></span>
			{{!-- <span><a href="/blog">blog</a></span> --}}

            <span>
                <a href=" {{getEnv 'fb'}} ">  <img src="imaginary/facebook.png"></a> 
                <a href="https://twitter.com/hackidemia"><img src="imaginary/twitter_bird.png"></a>
            </span>
			</div>
		</div>
		<div class="archySession archyStyle archyFooter">
			<div class="archySessionLayer">
			</div>
			<div class="archySessionTitle">
			<div class="archyFooter">
			<div class="inline-block margin-right-80">
                <p>Contact us at<br>{{getEnv 'contact'}}@hackidemia.com</p>

			</div>
            <div class="text-right inline-block"><p>{{getEnv 'subdomain'}}.hacKIDemia.com is <br>handcrafted by <a href="http//:0a.io">Archy</a> with love.</p><a href="https://github.com/0a-/hackidemia-event-site/">View the source code on Github</a>. 
			</div>
			</div>
			</div>
		</div>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="/js/general.js"></script>
		<script src="/js/{{this.section}}.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
